.App {
  background: #CAD3DE;
  min-height: 100%;
  min-width: 100%;

}

.text {
  color: white;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #213B54;
  margin: auto;
  width: 500px;
  height: 500px;
  padding: 10px;
}

.Login {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #213B54;
  margin: auto;
  width: 250px;
  height: 500px;
  padding: 10px;
}

.button {
  width: 250px;
  background-color: #CAD3DE;
  border: none;
  color: #1D76B5;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.login_button {
  width: 250px;
  background-color: #1D76B5;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
  color: white
}

ul {
  color: white
}

h2{
  color: white;
}

h3{
  color: white;
}